@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <LoginDisplay />
            </li>
        </ul>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>